@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

/*
@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}
